{% extends "CM/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CM/naviguation.html" %}

    <div class="content">
    <div class="container-fluid">

        {% if message != 'False' %}
            <div class="alert {{type_message}}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                <span>{{message}}</span>
            </div>
        {% endif %}
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h1 class="title">Pas encore de quête? Choisissez-en une!</h1>
                        <p class="category">Cliquez sur une catégorie pour faire disparaitre ou apparaitre les quêtes qui vous êtes proposées.</p>
                    </div>
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    {% for categorie in categories %}                                  
                                        <button type="button" class="btn btn-secondary btn-lg categorie">{{categorie}}</button>
                                    {% endfor %}
                                <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-md-9">
                            <h3 class="title">Les Quêtes</h3>
                            <p class="category">Choisissez votre quête, elle vous guidera à la réussite!</p>
                        </div>
                        <div class="col-md-3">
                            <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                <div class="input-group-addon"><img style=" max-width : 45%" src="{% static 'image/icone/loupe.png' %}"></div>
                                <input type="text" class="form-control search" placeholder="Rechercher un défi">
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="demo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
            

                                
        
    </div>
{% block javascript %}
<script>

    $(function() {

        var list = [ {% for libelle in libelles %} { objectif : "{{libelle.objectif}}",  id : "{{libelle.id}}", theme : "{{libelle.theme.nom}}"}, {% endfor %} ];
        
        var options = {
            shouldSort: true,
            threshold: 0.1,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: [
                "objectif",
                "theme",
            ]
            };
            
            var fuse = new Fuse(list, options); // "list" is the item array
            var result = fuse.search(" ");
            var x;
            var html = "";

            for (x in result) {

                html += '<a href="/quete/quete/?id_quete='+result[x].id+'"><button style="margin : 2px;" class="btn btn-secondary btn-default '+result[x].theme+'">'+ result[x].objectif +'</button></a>';
                            
            }

            $("div.demo").html(html);

        $("button.categorie").click(function(){
            var categorie = $(this).text();
            $(this).button('toggle');
            
            if ($("button." + categorie).is(":visible")){
            $("button." + categorie).hide();
            $("button." + categorie).removeClass('active');
            
            } else {
            $("button." + categorie).show();
            };
                
        });
        
        
        $('input.search').keyup(function(){
            
            var search = $(this).val();
            
            var options = {
            shouldSort: true,
            threshold: 0.1,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: [
                "objectif",
                "theme",
            ]
            };
            
            var fuse = new Fuse(list, options); // "list" is the item array
            var result = fuse.search(search);
            if (search == ""){result = list};

            var x;
            var html = "";

            for (x in result) {

                html += '<a href="/quete/quete/?id_quete='+result[x].id+'"><button style="margin : 2px;" class="btn btn-secondary btn-default '+result[x].theme+'">'+ result[x].objectif +'</button></a>';            
            }

            $("div.demo").html(html);
            });
            
    });

    $('.nbre_notification').click(function () {
        $.ajax({
        url: '/compte/vue_notification/',
        });
        $("#notifications").load("/compte/vestiaire/ #notifications");
    });
    
    $('div.block_notification').click(function () {
        var id = $(this).attr('value');
        $.ajax({
        url: '/compte/active_notification/?notif_id='+id
        });
        alert(url);
    });

    </script>	
{% endblock %}
{% endblock %}