{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

<style>

.card-user .image {
    border-radius: 8px 8px 0 0;
    height: 150px;
    position: relative;
    overflow: hidden; }
    .card-user .image img {
        width: 100%; }
    .card-user .image-plain {
    height: 0;
    margin-top: 110px; }
    .card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -95px; }
    .card-user .author .title {
        color: #403D39; }
        .card-user .author .title small {
        color: #ccc5b9; }

.card-user .avatar {
    width: 150px;
    height: 150px;
}
.container {
  position: relative;
  width: 50%;
}

.container2 {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E65100;
}

.overlay2 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E65100;
}
.container:hover .overlay {
  opacity: 1;
}

.container2:hover .overlay2 {
  opacity: 1;
}

.text {
  color: white;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text2 {
  color: white;
  position: absolute;
  top: 3%;
  left: 5%;
 
}
</style>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% if message != 'False' %}
                        <div class="alert {{type_message}}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                            <span>{{message}}</span>
                        </div>
                    {% endif %}
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="card card-user">
                            <div class="image">
                                {% if type == "moi" %}
                                <a href="/compte/parametre/changement_pa">
                                <div class="container2">
                                  <img src="{{user_profil.pa.image.url}}" alt="Photo de Couverture"/>
                                
                                  <div class="overlay2">
                                    <div class="text2"><p>Modifier ma photo d'accueil</p></div>
                                  </div>
                                </div>
                                </a>
                                {% else %}
                                <img src="{{user_profil.pa.image.url}}" alt="{{user_profil.username}}">
                                {% endif %}

                            </div>

                            <div class="content">
                                <div class="author">
                                
                                {% if type == "moi" %}
                                <a href="/compte/parametre/changement_pp">
                                <div class="container">
                                  <img class="avatar border-white" src="{{user_profil.pp.image.url}}" alt="{{user_profil.username}}">
                                
                                  <div class="overlay">
                                    <div class="text"><p>Modifier ma photo de profil</p></div>
                                  </div>
                                </div>
                                </a>
                                {% else %}
                                <img class="avatar border-white" src="{{user_profil.pp.image.url}}" alt="{{user_profil.username}}">
                                {% endif %}

                                  <h4 class="title">{{user_profil.first_name|title }} {{user_profil.last_name|title }} <small>@{{user_profil.username|title }}</small></h4>
                                </div>
                                <div class="text-center">
                                </br>
                                    <hr>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <h5>{{nb_defis_releves}}<br/><small>Défis relevés</small></h5>
                                            </div>
                                            <div class="col-xs-3">
                                                <h5>{{nb_defis_lances}}<br/><small>Défis lancés</small></h5>
                                            </div>
                                            <div class="col-xs-3">
                                                <h5>{{rang_absolu}}<br/><small>Rang absolu</small></h5>
                                            </div>
                                            {% if type == "moi" %}
                                            <a href="/compte/propositions_etat">
                                            <div class="col-xs-3">
                                                <h5>{{nb_defis_proposes}}<br/><small>Dédis proposés</small></h5>
                                            </div>
                                            </a>
                                            {% else %}
                                            <div class="col-xs-3">
                                                <h5>{{nb_defis_proposes}}<br/><small>Dédis proposés</small></h5>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                <p class="description text-center">
                                    {{user_profil.description}}
                                    
                                    {% if type == "attente" %}
                                    <a class="btn btn-primary" href='/compte/ajout_ami/?id_ami={{user_profil.id}}'> Accepter {{user_profil.username|title}} dans mes challengeurs </a>
                                    </a>
                                    {% endif %}
                                    
                                    {% if type == "ami" %}
                                    <a href="/arene/accueil" class="btn btn-block btn-primary btn-lg" > Défier
                                    </a>
                                    {% endif %}
                                    
                                    {% if type == "demande_ami" %}
                                    <a class="btn btn-block btn-primary btn-lg" > Demande en cours
                                    </a>
                                    {% endif %}
                                    {% if type == "pas_ami" %}
                                    <a class="btn btn-block btn-primary btn-lg" href="/compte/demande_ami/?id_ami={{user_profil.id}}"> Ajouter aux amis
                                    </a>
                                    {% endif %}
                                </p>
                            </div>
                            <hr>
                            
                        </div>
                    </div>
                </div>

                    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="header" style="background-color : white;">
                                    {% if type == "moi" %}
                                    <h4 class="title">Mes statistiques</h4>
                                    <p class="category">Je suis actuellement {{rang_absolu}}ème toutes catégories confondues avec {{user_profil.score_absolu}}pts </p>
                                
                                    {% else %}
                                    <h4 class="title">Ses statistiques</h4>
                                    <p class="category">{{user_profil.username|title}} est actuellement {{rang_absolu}}ème toutes catégories confondues avec {{user_profil.score_absolu}}pts </p>
                                
                                    {% endif %}
                                </div>
                                <div class="content">
                                    
                                    <!-- Chart code -->
                                    <script>
                                    var chart = AmCharts.makeChart( "chartdiv", {
                                    "type": "radar",
                                    "theme": "none",
                                    "dataProvider": [ {
                                        "categorie": "Sport",
                                        "defis": {{user_profil.score_sport}}
                                    }, {
                                        "categorie": "Cuisine",
                                        "defis": {{user_profil.score_cuisine}}
                                    }, {
                                        "categorie": "Creation",
                                        "defis": {{user_profil.score_creation}}
                                    }, {
                                        "categorie": "Social/Environnement",
                                        "defis": {{user_profil.score_citoyen}}
                                    }, {
                                        "categorie": "Extrême",
                                        "defis": {{user_profil.score_elite}}
                                    }, {
                                        "categorie": "Autre",
                                        "defis": {{user_profil.score_autre}}
                                    },{
                                        "categorie": "Gaming",
                                        "defis": {{user_profil.score_gaming}}
                                    }  ],
                                    "valueAxes": [ {
                                        "axisTitleOffset": 20,
                                        "minimum": 0,
                                        "axisAlpha": 0.15
                                    } ],
                                    "startDuration": 1,
                                    "graphs": [ {
                                        "balloonText": "[[value]] pts",
                                        "bullet": "round",
                                        "lineThickness": 2,
                                        "valueField": "defis"
                                    } ],
                                    "categoryField": "categorie",
                                    "export": {
                                        "enabled": true
                                    }
                                    } );
                                    </script>
                                    <div class="row">
    
                                        <div class="col-md-12">
                                            <div id="chartdiv" style="width: 100%; height: 400px;"></div>
                                        </div>
    
                                    </div>
                                    <div class="footer">
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            {% if type == "moi" %}
                            <div class="card">
                                <div class="header" style="background-color : white;">
                                    <h5 class="title">
                                        <i class="ti-timer"> </i>  <a href="/compte/mes_defis"> Historique de mes Défis</a>
                                    </h5>
                                </div>
                                <div class="content">
                                </div>
                            </div>
                            <div class="card">
                                    <div class="header" style="background-color : white;">
                                        <h5 class="title">
                                            <i class="ti-reload"> </i>  <a href="/arene/defi_moderation"> Modérer des défis</a>
                                        </h5>
                                    </div>
                                    <div class="content">
                                    </div>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-md-8 ">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">L'actualité</h4>
                                    <p class="category">de ces 7 derniers jours</p>
                                </div>
                                <div class="content">
                                    
                                    {% for act in actus %}
                                    <div class="actu" style="display:none;">
                                        <div class="card">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img class="image-responsive" src="{{act.personne_concernee.pp.image.url}}" alt="Photo de profil" style="max-height : 100px; margin : 6px;"/>
                                                </div>
                                                <div class="col-md-10">
                                                    <div class="header">
                                                        <h4 class="title">{{act.personne_concernee}}</h4>
                                                        <p class="category">{{act.date}}</p>
                                                    </div>
                                                    <div class="content">
                                                        <div class="row">
                                                            <div class="col-md-12">                                               
                                                                
                                                                <p>{{act.message}}</p>                                                              
                                                        
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="footer">
                                        <a class="btn btn-default btn-block" href="#" id="loadactu">Voir plus d'actualité</a>
                                        <hr>
                                        <div class="stats">
                                            <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                
                </div>
            </div>
        </div>

{% block javascript %}
<script>
$("div.actu").slice(0, 3).show(); // select the first ten
$("#loadactu").click(function(e){ // click event for load more
    e.preventDefault();
    $(".actu:hidden").slice(0, 5).show(); // select next 10 hidden divs and show them
    if($(".actu:hidden").length == 0){ // check if any hidden divs still exist
        alert("Vous n'avez pas plus d'actualité cette semaine'"); // alert if there are none left
    }
});
$('.nbre_notification').click(function () {
    $.ajax({
    url: '/compte/vue_notification/',
    });
    $("#notifications").load("/compte/vestiaire/ #notifications");
    $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
});

$('div.block_notification').click(function () {
    var id = $(this).attr('value');
    $.ajax({
    url: '/compte/active_notification/?notif_id='+id
    });
    alert(url);
});
</script>
{% endblock %}
{% endblock %}
