<!doctype html>
<html lang="fr">

    {% load staticfiles %}

<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" href="{% static 'image/icone.png' %}">
	<link rel="icon" type="image/png" href="{% static 'image/icone.png' %}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Challenges Camp</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- MapBoxx -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />
    

    <!-- Animation library for notifications   -->
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="{% static 'css/paper-dashboard.css' %}" rel="stylesheet"/>

    <!-- Resources -->
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/radar.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    
    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/" class="simple-text">
                   <img class="img-responsive" src="{% static 'image/logo_complet.svg' %}">
                </a>
            </div>

            <ul class="nav">
                <li {% if nom_page == "Le Vestiaire" %} class="active" {% endif %}>
                    <a href="/compte/vestiaire/">
                        <p> <img class="img-responsives img-circle" style="max-height : 28px; margin-right : 10px; margin-left : 2px;" src="{{utilisateur.pp.image.url}}" alt="..."/>
                        Le Vestiaire</p>
                    </a>
                </li>
                 <li {% if nom_page = "La Map" %} class="active" {% endif %}>
                    <a href="/compte/map">
                        <i class="ti-map-alt"></i>
                        <p>La Map</p>
                    </a>
                </li>
                <li {% if nom_page = "L'Arene" %} class="active" {% endif %}>
                    <a href="/arene/accueil">
                        <i class="ti-bolt"></i>
                        <p>L'Arene</p>
                    </a>
                </li>
                <li {% if nom_page = "Mes Défis" %} class="active" {% endif %}>
                    <a href="/compte/mes_defis">
                        <i class="ti-view-list-alt"></i>
                        <p>Mes Défis</p>
                    </a>
                </li>
                <li {% if nom_page = "Les Classements" %} class="active" {% endif %}>
                    <a href="/compte/classements">
                        <i class="ti-cup"></i>
                        <p>Les Classements</p>
                    </a>
                </li>
                <li {% if nom_page = "Mes Challengeurs" %} class="active" {% endif %}>
                    <a href="/compte/mes_amis">
                        <i class="ti-user"></i>
                        <p>Mes Challengeurs</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    {% block content %}
    

    
    {% endblock %}

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="#">
                                Challenges Camp
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                        <li>
                            <a href="http://www.creative-tim.com/license">
                                Conditions d'Utilisation
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, design by MGBCORP & <a href="http://www.creative-tim.com">Creative Tim</a>
                </div>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/fuse.js' %}"></script>

	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="{% static 'js/bootstrap-checkbox-radio.js' %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static 'js/bootstrap-notify.js' %}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Paper Dashboard Core javascript and methods for Demo purpose -->
	<script src="{% static 'js/paper-dashboard.js' %}"></script>


    {% block javascript %}
        <script>
            $('.nbre_notification').click(function () {
                $.ajax({
                    url: '/compte/vue_notification/',
                });
                $("#notifications").load("/compte/vestiaire/ #notifications");
            });
            
            $('div.block_notification').click(function () {
                var id = $(this).attr('value');
                $.ajax({
                    url: '/compte/active_notification/?notif_id='+id
                });
                alert(url);
            });
        </script>
    {% endblock %}     


</html>