{% load staticfiles %}

<div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="/"><div class="visible-md visible-lg">{{nom_page}}</div></a><a class="navbar-brand" href="/"><div class="visible-xs visible-sm center-block" style=" width: 200px;"><img class="img-responsive" style=" margin : -2%;" src="{% static 'image/logo_complet.svg' %}"></div></a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        
                        <li style="margin-top : 5px;">
                        <form action="/rechercher" method="POST" class="form-inline">
                            {% csrf_token %}
                            <div class="visible-md visible-lg">
                                <input class="form-control mr-sm-3" type="text" id"data" name="data" placeholder="Rechercher des challengeurs...">
                                <button class="btn btn-outline-success" style="margin-right : 5px;" type="submit"><i class="ti-search"></i></button> 
                            </div>
                            <div class="visible-xs visible-sm">
                                <input class="form-control mr-sm-3" type="text" id"data" name="data" placeholder="Rechercher ...">
                            </div>  

                        </form>
                        </li>

                        <li class="dropdown">
                              <a id="notifications" href="#" class="dropdown-toggle nbre_notification" data-toggle="dropdown">
                                    <div class="visible-md visible-lg">
                                        <p><i class="ti-world"></i> {{notifications_new|length}}<span class="caret"></span></p>
                                    </div>
                              </a>
                              <ul class="dropdown-menu">

                                {% for notification in notifications %}
                                <li><a href="{{notification.lien}}">
                                        {% if notification.type == "D" %}
                                            <span class="ti-bolt"> </span>
                                        {% endif %}
                                        {% if notification.type == "DA" %}
                                            <span class="ti-user"> </span>
                                        {% endif %}
                                        {{notification.message}}
                                    </a>
                                </li>
                                {% endfor %}
                                
                                <li>
                                <a href="/compte/notification_page" style="text-align : center">Voir plus ({{notifications_new|length}} New)</a>
                                </li>

                              </ul>
                        </li>
						<li class="dropdown">
                            
                             <a href="#" style="color = #EB5E28;" class="dropdown-toggle" data-toggle="dropdown">
                                    
                                   <div class="visible-xs visible-sm"> <p> <i class="ti-settings"></i>Parametres <span class="caret"></span></p></div>
                                   <div class="visible-md visible-lg"> <p> <i class="ti-settings"></i></p></div> 
								
                              </a>
                              <ul class="dropdown-menu">

                                <li><a href="/compte/profil_prive/"><img class="img-responsives img-circle" style="max-height : 20px; margin-right : 8px; " src="{{utilisateur.pp.image.url}}" alt="..."/>Mon Profil</a></li>
                                <li><a href="#">Mes Parametres</a></li>
                                <li><a href="/deconnexion">Se deconnecter</a></li>

                              </ul>
                            
                        </li>
                    </ul>

                </div>
                
            </div>
        </nav>
        <div class="row visible-xs visble-sm">
            <div class="col-xs-4">

                    <div class="dropdown">
                        <a type="button" style=" border-radius: 5px; margin-left : 15px; margin-top : 5%"  href="#" class="btn btn-block btn-primary dropdown-toggle nbre_notification" data-toggle="dropdown">
                            <p id="notificationspetit"><img class="image-responsive" style=" height : 17px; margin : 5%;" src="{% static 'image/icone/world.svg' %}"> {{notifications_new|length}}</p>  
                        </a>
                        <ul class="dropdown-menu">
    
                            {% for notification in notifications %}
                            <li><a href="{{notification.lien}}">
                                    {% if notification.type == "D" %}
                                        <span class="ti-bolt"> </span>
                                    {% endif %}
                                    {% if notification.type == "DA" %}
                                        <span class="ti-user"> </span>
                                    {% endif %}
                                    {{notification.message}}
                                </a>
                            </li>
                            {% endfor %}
                            
                            <li>
                            <a href="/compte/notification_page" style="text-align : center">Voir plus ({{notifications_new|length}} New)</a>
                            </li>
    
                        </ul>
                    </div>
                
                </div>

                <div class="col-xs-4">
                <button class="btn btn-block btn-primary" style="border-radius: 5px; margin-top : 5%">
                    <a href="/compte/map">
                        <img class="image-responsive" style=" height : 25px; margin : 5%;" src="{% static 'image/icone/map-alt.svg' %}">
                    </a>
                </button>
                </div>
                <div class="col-xs-4">
                <button class="btn btn-block btn-primary" style="border-radius: 5px; margin-left : -15px; margin-top : 5%">
                    <a href="/arene/accueil">
                        <img class="image-responsive" style="height : 25px; margin : 5%;" src="{% static 'image/icone/bolt.svg' %}">
                    </a>
                </button>
                </div>
                
        </div>
        <div class="visible-xs"> 
            <hr style="margin-top : 5px; margin-bottom : -5px;">       
        </div> 
