{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Recherche</h4>
                            <p class="category">Voici le résultat de vos recherche</p>
                        </div>
                        <div class="content">
                            <div class="row">
                            {% for ami in data_ami %}
                            <div class="col-md-4">
                                <div class="card card-user">
                                    <div class="image">
                                        <img src="{{ami.pp.url}}" alt="Photo de profil de {{ami.username}}"/>
                                    </div>
                                    <div class="content">
                                        <div class="author">
                                        <img class="avatar border-white"  src="{{ami.pp.url}}" alt="Photo de profil de {{ami.username}}"/>
                                        <h4 class="title">{{ami.first_name|title }} {{ami.last_name|title }}<br />
                                            <a href="#"><small>@{{ami.username}}</small></a>
                                        </h4>
                                        </div>
                                        <p class="description text-center">
                                           <a href="/compte/profil_public/?profil={{ami.id}}" class="btn btn-primary" style="margin : 1%;">Voir ses stats</a>
                                           {% if ami in utilisateur.amis.all %}

                                           {% else %}
                                           <a href="/compte/demande_ami/?id_ami={{ami.id}}" class="btn btn-primary" style="margin : 1%;">Ajout à mes challengeurs</a>
                                           {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            </div>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}