{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Recherche</h4>
                            <p class="category">Voici le résultat de vos recherches</p>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-12">
                                    <script src="{% static 'js/fuse.js' %}"></script>
                                    <script>
                                
                                        var list = [ {% for utilisateur in utilisateurs %} { id : "{{utilisateur.id}}" , username : "{{utilisateur.username}}", nom : "{{utilisateur.last_name|title}}", prenom : "{{utilisateur.first_name|title}}", photopp : "{{utilisateur.pp.image.url}}", photopa : "{{utilisateur.pa.image.url}}", info : "{{utilisateur.info}}"}, {% endfor %} ];
                                        
                                        var test = "{{raw_data}}";
                                
                                        if (test){
                                
                                            var search = test;
                                            
                                            var options = {
                                            shouldSort: true,
                                            threshold: 0.1,
                                            location: 0,
                                            distance: 100,
                                            maxPatternLength: 32,
                                            minMatchCharLength: 1,
                                            keys: [
                                                "username",
                                                "nom",
                                                "prenom",
                                                "photopp",
                                                "photopa",
                                                "info",
                                            ]
                                            };
                                            
                                            var fuse = new Fuse(list, options); // "list" is the item array
                                            var result = fuse.search(search);
                                            
                                            var x;
                                
                                            var html = "";
                                
                                            for (x in result) {
                                
                                                html += '<div class="col-sm-3"><div class="card card-user"><div class="image"><img src="'+result[x].photopa+'" alt="Photo"/></div><div class="content"><div class="author"><img class="avatar border-white"  src="'+result[x].photopp+'" alt="Photo"/><a href="/compte/profil_public/?profil='+result[x].id+'"><h4 class="title">'+result[x].prenom + ' ' + result[x].nom+'<br /><small>@'+result[x].username+'</small></a></h4></div><p class="description text-center">'+result[x].info+'</div></div></div>';           
                                            }
                                
                                            document.write(html);
                                    
                                            }; 
                                        
                                            
                                        $('.nbre_notification').click(function () {
                                                $.ajax({
                                                    url: '/compte/vue_notification/',
                                                });
                                                $("#notifications").load("/compte/vestiaire/ #notifications");
                                            });
                                            
                                            $('div.block_notification').click(function () {
                                                var id = $(this).attr('value');
                                                $.ajax({
                                                    url: '/compte/active_notification/?notif_id='+id
                                                });
                                                alert(url);
                                            });

                                    </script>	
                                </div>
                            </div>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}