{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

        <div class="content">
            <div class="container-fluid">

            {% if message != 'False' %}
                <div class="alert {{type_message}}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                    <span>{{message}}</span>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-5">

                    <div class="card">
                        <div class="header">
                            <h4 class="title">Photo d'accueil actuelle</h4>
                        </div>
                        <div class="content">
                            <img class="rounded center-block img-responsive" src="{{utilisateur.pa.image.url}}" alt="{{utilisateur.username}}">
                        </div>
                    </div>

                </div>

                <div class="col-md-7">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Changer de photo d'accueil</h4>
                        </div>
                        <div class="content">
                            
                            <form action="/compte/parametre/changement_pa" method="post" enctype="multipart/form-data">
                                 {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputFile">Photo d'accueil</label>
                                    <input type="file" id="image" name="image">
                                    <p class="help-block">Votre photo d'accueil va être redimensionnée 700x400 px.</p>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block" style="margin-top : 4%">Changer</button>
                            </form>
                        </div>
                    </div>
                </div>

             </div>
            </div>
        </div>


{% block javascript %}
<script>
    $('.nbre_notification').click(function () {
            $.ajax({
            url: '/compte/vue_notification/',
            });
            $("#notifications").load("/compte/vestiaire/ #notifications");
        });
        
        $('div.block_notification').click(function () {
            var id = $(this).attr('value');
            $.ajax({
            url: '/compte/active_notification/?notif_id='+id
            });
        });
</script>
{% endblock %}

{% endblock %}