{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

        <div class="content">
            <div class="container-fluid">

            {% if message != 'False' %}
                <div class="alert {{type_message}}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                    <span>{{message}}</span>
                </div>
            {% endif %}

            <div class="row">

                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Changer de mot de passe</h4>
                            <hr>
                        </div>
                        <div class="content">
                            
                            <form action="/compte/parametre/changement_mdp" method="post">
                                 {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary btn-block" style="margin-top : 4%">Changer</button>
                            </form>
                        </div>
                    </div>
                </div>

             </div>
            </div>
        </div>


{% block javascript %}
<script>
    $('.nbre_notification').click(function () {
            $.ajax({
            url: '/compte/vue_notification/',
            });
            $("#notifications").load("/compte/vestiaire/ #notifications");
            $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
        });
        
        $('div.block_notification').click(function () {
            var id = $(this).attr('value');
            $.ajax({
            url: '/compte/active_notification/?notif_id='+id
            });
        });
</script>
{% endblock %}

{% endblock %}