{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

<style>

    {% for theme in themes %}

        .{{theme.nom|lower}}:hover { 
            background-color: {{theme.couleur}};
        }
        .{{theme.nom|lower}}.active{ 
            background-color: {{theme.couleur}};
            color : white;
        }

    {% endfor %}

</style>

{% include "CC/naviguation.html" %}


<div class="content">
    <div class="container-fluid">
        <div class="row">

                <div class="col-md-12">
                    {% if message != 'False' %}
                    <div class="alert {{type_message}} alert-dismissible" role="alert">
                        <button style="margin-right : 2%;" type="button" class="close" data-dismiss="alert" aria-label="Close"><p>x</p></button>
                        {{message}}
                    </div>
                    {% endif %}
                </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="header" style="background-color : white;">
                        <h4 class="title">Mes statistiques</h4>
                        <p class="category">Vous êtes actuellement {{rang_absolu}}ème toutes catégories confondues avec {{utilisateur.score_absolu}} points</p>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title"><small>Extrême</small></h4>
                                        <hr>
                                    </div>
                                    <div class="content">
                                         <h2 style="text-align : center; margin-top : -20px;">{{rang_extreme}}<small>({{utilisateur.score_extreme}}pts)</small></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title"><small>Sport</small></h4>
                                        <hr>
                                    </div>
                                    <div class="content">
                                         <h2 style="text-align : center; margin-top : -20px;">{{rang_sport}}<small>({{utilisateur.score_sport}}pts)</small></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title"><small>Cuisine</small></h4>
                                        <hr>
                                    </div>
                                    <div class="content">
                                         <h2 style="text-align : center; margin-top : -20px;">{{rang_cuisine}}<small>({{utilisateur.score_cuisine}}pts)</small></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title"><small>Arts</small></h4>
                                        <hr>
                                    </div>
                                    <div class="content">
                                         <h2 style="text-align : center; margin-top : -20px;">{{rang_arts}}<small>({{utilisateur.score_arts}}pts)</small></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title"><small>Social/Environ.</small></h4>
                                        <hr>
                                    </div>
                                    <div class="content">
                                         <h2 style="text-align : center; margin-top : -20px;">{{rang_social_environnement}} <small>({{utilisateur.score_social_environnement}}pts)</small></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="card">
                                    <div class="header">
                                        <h4 class="title"><small>Autre</small></h4>
                                        <hr>
                                    </div>
                                    <div class="content">
                                         <h2 style="text-align : center; margin-top : -20px;">{{rang_autre}}<small>({{utilisateur.score_autre}}pts)</small></h2>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="header" style="background-color : white;">
                        <h4 class="title">Les Classements</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12" style="margin-bottom : 10px;">

                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                    <div class="panel panel-default">
                                      <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title">
                                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Classement Général
                                          </a>
                                        </h4>
                                      </div>
                                      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Classement General</h4>
                                                    <p class="category">Le classement des challengeurs toutes catégories confondues</p>
                                                </div>
                                                <div class="content">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <th>#</th>
                                                            <th>Nom</th>
                                                            <th>Points</th>
                                                        </thead>
                                                        <tbody>
                                                            {% for challengeur in absolu %}
                                                                {% if challengeur.id == utilisateur.id %}
                                                                <tr class="classement_absolu" style="display:none;">
                                                                    <td>{{forloop.counter}}</td>
                                                                    <td><strong><a href="/compte/profil_public/?profil={{challengeur.id}}" >{{challengeur.first_name|title}} {{challengeur.last_name|title}}</a></strong></td>
                                                                    <td>{{challengeur.score_absolu}}</td>
                                                                </tr>
                                                                {% else %}
                                                                <tr class="classement_absolu" style="display:none;">
                                                                    <td>{{forloop.counter}}</td>
                                                                    <td><a href="/compte/profil_public/?profil={{challengeur.id}}" >{{challengeur.first_name|title}} {{challengeur.last_name|title}}</a></td>
                                                                    <td>{{challengeur.score_absolu}}</td>
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <a class="btn btn-default btn-block" href="#" id="loadclassement_absolu">Voir + de challengeur</a>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                    {% for theme in themes %}
                                    {% for key, classement in classements.items %}

                                    {% if theme.nom|lower == key %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingTwo">
                                          <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{theme.nom}}" aria-expanded="false" aria-controls="collapseTwo">
                                                Classement {{theme.nom}}
                                            </a>
                                          </h4>
                                        </div>
                                        <div id="{{theme.nom}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                          <div class="panel-body">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Classement {{theme.nom}}</h4>
                                                    <p class="category">{{theme.descritption}}</p>
                                                </div>
                                                <div class="content">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <th>#</th>
                                                            <th>Nom</th>
                                                            <th>Points</th>
                                                        </thead>
                                                        <tbody>


                                                            {% for challengeur in classement %}
                                                                {% if challengeur.id == utilisateur.id %}
                                                                <tr class="classement_{{theme.nom|lower}}" style="display:none;">
                                                                    <td>{{forloop.counter}}</td>
                                                                    <td><strong><a href="/compte/profil_public/?profil={{challengeur.id}}" >{{challengeur.first_name|title}} {{challengeur.last_name|title}}</a></strong></td>
                                                                    <td>{{challengeur.score_absolu}}</td>
                                                                </tr>
                                                                {% else %}
                                                                <tr class="classement_{{theme.nom|lower}}" style="display:none;">
                                                                    <td>{{forloop.counter}}</td>
                                                                    <td><a href="/compte/profil_public/?profil={{challengeur.id}}" >{{challengeur.first_name|title}} {{challengeur.last_name|title}}</a></td>
                                                                    <td>{{challengeur.score_absolu}}</td>
                                                                </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    <a class="btn btn-default btn-block" href="#" id="loadclassement_{{theme.nom|lower}}">Voir + de challengeur</a>
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}

                                  </div>
                            </div>
                        </div>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% block javascript %}
<script>
    $("tr.classement_absolu").slice(0, 10).show(); // select the first ten
    $("#loadclassement_absolu").click(function(e){ // click event for load more
        e.preventDefault();
        $(".classement_absolu:hidden").slice(0, 15).show(); // select next 10 hidden divs and show them
        if($(".classement_absolu:hidden").length == 0){ // check if any hidden divs still exist
            alert("Le classement est intégralement visible"); // alert if there are none left
        }
    });

    $("tr.classement_sport").slice(0, 10).show(); // select the first ten
    $("#loadclassement_sport").click(function(e){ // click event for load more
        e.preventDefault();
        $(".classement_sport:hidden").slice(0, 15).show(); // select next 10 hidden divs and show them
        if($(".classement_sport:hidden").length == 0){ // check if any hidden divs still exist
            alert("Le classement est intégralement visible"); // alert if there are none left
        }
    });

    $("tr.classement_autre").slice(0, 10).show(); // select the first ten
    $("#loadclassement_autre").click(function(e){ // click event for load more
        e.preventDefault();
        $(".classement_autre:hidden").slice(0, 15).show(); // select next 10 hidden divs and show them
        if($(".classement_autre:hidden").length == 0){ // check if any hidden divs still exist
            alert("Le classement est intégralement visible"); // alert if there are none left
        }
    });

    $("tr.classement_extreme").slice(0, 10).show(); // select the first ten
    $("#loadclassement_extreme").click(function(e){ // click event for load more
        e.preventDefault();
        $(".classement_extreme:hidden").slice(0, 15).show(); // select next 10 hidden divs and show them
        if($(".classement_extreme:hidden").length == 0){ // check if any hidden divs still exist
            alert("Le classement est intégralement visible"); // alert if there are none left
        }
    });

    $("tr.classement_social_environnement").slice(0, 10).show(); // select the first ten
    $("#loadclassement_social_environnement").click(function(e){ // click event for load more
        e.preventDefault();
        $(".classement_social_environnement:hidden").slice(0, 15).show(); // select next 10 hidden divs and show them
        if($(".classement_social_environnement:hidden").length == 0){ // check if any hidden divs still exist
            alert("Le classement est intégralement visible"); // alert if there are none left
        }
    });

    $("tr.classement_cuisine").slice(0, 10).show(); // select the first ten
    $("#loadclassement_cuisine").click(function(e){ // click event for load more
        e.preventDefault();
        $(".classement_cuisine:hidden").slice(0, 15).show(); // select next 10 hidden divs and show them
        if($(".classement_cuisine:hidden").length == 0){ // check if any hidden divs still exist
            alert("Le classement est intégralement visible"); // alert if there are none left
        }
    });

    $("tr.classement_arts").slice(0, 10).show(); // select the first ten
    $("#loadclassement_arts").click(function(e){ // click event for load more
        e.preventDefault();
        $(".classement_arts:hidden").slice(0, 15).show(); // select next 10 hidden divs and show them
        if($(".classement_arts:hidden").length == 0){ // check if any hidden divs still exist
            alert("Le classement est intégralement visible"); // alert if there are none left
        }
    });

    $('.nbre_notification').click(function () {
            $.ajax({
            url: '/compte/vue_notification/',
            });
            $("#notifications").load("/compte/vestiaire/ #notifications");
            $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
        });
        
    $('div.block_notification').click(function () {
        var id = $(this).attr('value');
        $.ajax({
        url: '/compte/active_notification/?notif_id='+id
        });
        alert(url);
    });
</script>
{% endblock %}

{% endblock %}