{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    {% if message != 'False' %}
                    <div class="alert {{type_message}} alert-dismissible" role="alert">
                        <button style="margin-right : 2%;" type="button" class="close" data-dismiss="alert" aria-label="Close"><p>x</p></button>
                        {{message}}
                    </div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="header">
                                    <div class="row">
                                        <div class="col-sm-3 hidden-xs">
                                            <img class="img-responsive img-circle center-block" src="{{utilisateur.pp.image.url}}" style="max-height : 65px;">
                                        </div>
                                        <div class="col-sm-7  hidden-xs">
                                            <h4 class="title">{{utilisateur.first_name|title}} {{utilisateur.last_name|title}}</h4>
                                            <p class="category">Pas de team</p>
                                            <p class="category"><a href="/compte/profil_prive/?profil={{utilisateur.id}}" >Voir Profil</a></p>
                                        </div>
                                        <div class="col-sm-2  hidden-xs">
                                            <h4 class="title">{{utilisateur.score_absolu}} pts</h4>
                                            <p class="category" style="color : #E65100">{{utilisateur.eclairs}} éclairs</p>
                                            <p class="category" style="font-size : 9px;"><small>Acheter des éclairs</small></p>
                                        </div>
                                        <div class="col-xs-8  hidden-md hidden-sm hidden-lg">
                                            <h4 class="title">{{utilisateur.first_name|title}} {{utilisateur.last_name|title}}</h4>
                                            <p class="category">Pas de team</p>
                                            <p class="category"><a href="/compte/profil_prive/?profil={{utilisateur.id}}" >Voir Profil</a></p>
                                        </div>
                                        <div class="col-xs-4  hidden-md hidden-sm hidden-lg">
                                            <h4 class="title">{{utilisateur.score_absolu}} pts</h4>
                                            <p class="category" style="color : #E65100">{{utilisateur.eclairs}} éclairs</p>
                                            <p class="category" style="font-size : 9px;"><small>Acheter des éclairs</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                </div>
                            </div>
                        </div>
                    </div>
                   

                    <div class="card">
                        <div class="header">
                            <h4 class="title">L'actualité du camp d'entraînement</h4>
                            <p class="category">de ces 7 derniers jours</p>
                        </div>
                        <div class="content">
                            {% for act in actus %}
                            <div class="actu" style="display:none;">
                                <div class="card">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <img class="img-responsive center-block" style=" margin-top : 3%; margin-left : 15%; " src="{{act.personne_concernee.pp.image.url}}" alt="{{act.personne_concernee.username}}" />
                                        </div>
                                        <div class="col-xs-9" style="padding : 0px;">
                                            <div class="header">
                                                <h4 class="title" style="margin-top : -10px;"><a href="/compte/profil_public/?profil={{act.personne_concernee.id}}">{{act.personne_concernee|title}}</a></h4>
                                                <p class="category">{{act.date}}</p>
                                            </div>
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <a href="{{act.lien}}" style="color : black;"><p>{{act.message}}</p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <h4 style="text-align: center">Vous n'avez pas d'actulalité pour le moment</h4>
                            {% endfor %}
                            <div class="footer">
                                <a class="btn btn-default btn-block" href="#" id="loadactu">Voir plus d'actualité</a>
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <div>
                                <h4 class="title">Moderer des défis pour gagner des éclairs!</h4>
                                <p class="category">Un défi modérer = 1 éclair gagné!</p>
                                <p class="category" style="margin-top : 2%"><a type="button" class="btn btn-xs btn-primary btn-block" href="/arene/defi_moderation" >Modérer</a></p>
                            
                            </div>
                        </div>
                        <div class="content">
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Mes Défis</h4>
                            <p class="category">Voir tout mes défis</p>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Défis Lancés</h4>
                                            <a href="/compte/mes_defis"><p class="category">Voir tout mes défis lancés</p></a>
                                            <hr style="margin-bottom : 0px;">
                                        </div>
                                        <div class="content">
                                            <div class="row">
                                                {% for defi in defis_lances %}
                                                    <div class="col-md-12">                                               
                                                        <h6 class="card-subtitle mb-2 text-muted"><a href='/arene/defi/?id_defi={{defi.id}}'> {{defi.libelle.nom|title}} </a> <small> ({{defi.libelle.theme.nom|title}}) </small> 
                                                        <span class="badge">
                                                            {{defi.get_etat_display}}
                                                        </span>
                                                        </br> challengeur : {{defi.challengeur.username|title}}</h6>
                                                        <h7>{{defi.libelle.description|truncatechars:45}}</h7>                                                              
                                                        <hr>
                                                    </div>
                                                {% empty %}
                                                <div class="col-md-12">
                                                <p style="text-align: center">Vous n'avez pas de défis pour le moment</p>
                                                <hr>
                                                </div>
                                                {% endfor %}
                                                <div class="col-md-12">                                               
                                                    <a class="btn btn-default btn-block" href="/compte/mes_defis">Mes défis</a>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Défis Reçus</h4>
                                            <a href="/compte/mes_defis"><p class="category">Voir tout mes défis reçus</p></a>
                                            <hr style="margin-bottom : 0px;">
                                        </div>
                                        <div class="content">
                                            <div class="row">
                                                {% for defi in defis_recus %}
                                                    <div class="col-md-12">                                               
                                                        <h6 class="card-subtitle mb-2 text-muted"><a href='/arene/defi/?id_defi={{defi.id}}'> {{defi.libelle.nom|title}} </a> <small> ({{defi.libelle.theme.nom|title}}) </small> 
                                                        <span class="badge">
                                                            {{defi.get_etat_display}}
                                                        </span> 
                                                        </br> defieur : {{defi.defieur.username|title}}</h6> <h7>{{defi.libelle.description|truncatechars:25}}</h7>                                                              
                                                    <hr>
                                                    </div>
                                                {% empty %}
                                                <div class="col-md-12">
                                                <p style="text-align: center">Vous n'avez pas de défis pour le moment</p>
                                                <hr>
                                                </div>
                                                {% endfor %}
                                                <div class="col-md-12">                                               
                                                    <a class="btn btn-default btn-block" href="/compte/mes_defis">Mes défis</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                            </div>
                        </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="header" style="background-color : white;">
                            <h4 class="title">Mes statistiques</h4>
                            <p class="category">Vous êtes actuellement {{rang_absolu}}ème toutes catégories confondues avec {{utilisateur.score_absolu}} points</p>
                        </div>
                        <div class="content">
                            
                            <!-- Chart code -->
                            <script>
                            var chart = AmCharts.makeChart( "chartdiv", {
                            "type": "radar",
                            "theme": "none",
                            "dataProvider": [ {
                                "categorie": "Sport",
                                "defis": {{utilisateur.score_sport}}
                            }, {
                                "categorie": "Cuisine",
                                "defis": {{utilisateur.score_cuisine}}
                            }, {
                                "categorie": "Création",
                                "defis": {{utilisateur.score_creation}}
                            }, {
                                "categorie": "Citoyen",
                                "defis": {{utilisateur.score_citoyen}}
                            }, {
                                "categorie": "Elite",
                                "defis": {{utilisateur.score_elite}}
                            }, {
                                "categorie": "Gaming",
                                "defis": {{utilisateur.score_gaming}}
                            }, {
                                "categorie": "Autre",
                                "defis": {{utilisateur.score_autre}}
                            } ],
                            "valueAxes": [ {
                                "axisTitleOffset": 20,
                                "minimum": 0,
                                "axisAlpha": 0.15
                            } ],
                            "startDuration": 1,
                            "graphs": [ {
                                "balloonText": "[[value]] pts",
                                "bullet": "round",
                                "lineThickness": 2,
                                "valueField": "defis"
                            } ],
                            "categoryField": "categorie",
                            "export": {
                                "enabled": true
                            }
                            } );
                            </script>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Défis relevé</h4>
                                            <hr>
                                            <h2>{{nb_defis_releves}}</h2>
                                        </div>
                                        <div class="content">
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title">Défis gagnés</h4>
                                            <hr>
                                            <h2>{{nb_defis_gagnes}}/{{nb_defis_releves}}</h2>
                                        </div>
                                        <div class="content">
                                            
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div id="chartdiv" style="width: 100%; height: 400px;"></div>
                                </div>

                            </div>
                            <div class="footer">
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% block javascript %}
<script>
    $("div.actu").slice(0, 3).show(); // select the first ten
    $("#loadactu").click(function(e){ // click event for load more
        e.preventDefault();
        $(".actu:hidden").slice(0, 5).show(); // select next 10 hidden divs and show them
        if($(".actu:hidden").length == 0){ // check if any hidden divs still exist
            alert("Vous n'avez pas plus d'actualité cette semaine'"); // alert if there are none left
        }
    });
    $('.nbre_notification').click(function () {
            $.ajax({
            url: '/compte/vue_notification/',
            });
            $("#notifications").load("/compte/vestiaire/ #notifications");
            $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
        });
        
        $('div.block_notification').click(function () {
            var id = $(this).attr('value');
            $.ajax({
            url: '/compte/active_notification/?notif_id='+id
            });
            alert(url);
        });
</script>
{% endblock %}
{% endblock %}