{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

        <div class="content">
            <div class="container-fluid" style="margin-bottom : 70px;">

                    <style>
                        #fly {
                            display: block;
                            position: relative;
                            margin: -100px 20px;
                            width: 50px;
                            height: 50px;
                            padding: 10px;
                            border: none;
                            border-radius: 3px;
                            font-size: 12px;
                            text-align: center;
                            color: #fff;
                            background: #ee8a65;
                        }
                    </style>
                   
                    <div id='map' style='width: auto; height: 550px;'>
                    
                    </div>
                    <br/>
                    <button id='fly'><img src="{{utilisateur.pp.image.url}}" class="image-responsive" style="height: 40px; margin: -5px"/></button>
                    <div>
                    </br>
                    </div>    
             </div>
        </div>


{% block javascript %}
<script>

    var options = {
    enableHighAccuracy: true,
    timeout: 2000,
    maximumAge: 0
    };


    var test

    function success(pos) {
    test = pos.coords;
    $.ajax({url: '/user_position_push/?id_user={{utilisateur.id}}&latitude='+test.latitude+'&longitude='+test.longitude,
            });
    };

    function error(err) {
    console.warn(`ERROR(${err.code}): ${err.message}`);
    };
    
    navigator.geolocation.watchPosition(success, error, options);


    function map(crd){


        var map = new mapboxgl.Map({
            container: 'map',
            style: 'https://raw.githubusercontent.com/osm2vectortiles/mapbox-gl-styles/master/styles/bright-v9-cdn.json',
            center: [crd.longitude, crd.latitude],
            zoom: 17,
            });
        
            document.getElementById('fly').addEventListener('click', function () {

                map.flyTo({
                    center: [crd.longitude, crd.latitude],
                    zoom: 17,
                });
            });

            map.addControl(new mapboxgl.NavigationControl());
            
            map.on('load', function () {
        
                map.loadImage('{{icone_sport.image.url}}', function(error, image) {
                    if (error) throw error;
                    map.addImage('icone-sport', image);
        
                    map.addLayer({
                        "id": "challenges",
                        "type": "symbol",
                        "source": {
                            "type": "geojson",
                            "data": {
                                "type": "FeatureCollection",
                                "features": [
        
                                {% for point in points %}
        
                                    {
                                        "type": "Feature",
                                        "properties": {
                                            "description": '<p> Votre défi : <small> {{point.defi.description}} </br> </small> <a style="maring-top: 2%" type=button class="btn btn-secondary btn-xs" href="/compte/map/defi/?id_defi={{point.defi.id}}" >ACCEPTER</a></p>',
                                        },
                                        "geometry": {
                                            "type": "Point",
                                            "coordinates": [{{point.x}}, {{point.y}}]
                                        }
                                    },
        
                                {% endfor %}
        
                                ]
                            }
                        },
                        "layout": {
                            "icon-image": "icone-sport",
                            "icon-size": 0.45,
                            "icon-allow-overlap": true
                        }
                    });
                });

                map.on('click', 'challenges', function (e) {

                    function distance(lat1, lon1, lat2, lon2, unit) {
                        var radlat1 = Math.PI * lat1/180
                        var radlat2 = Math.PI * lat2/180
                        var theta = lon1-lon2
                        var radtheta = Math.PI * theta/180
                        var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
                        dist = Math.acos(dist)
                        dist = dist * 180/Math.PI
                        dist = dist * 60 * 1.1515
                        if (unit=="K") { dist = dist * 1.609344 }
                        if (unit=="N") { dist = dist * 0.8684 }
                        return dist
                    };
                    
                    var lat = crd.latitude
                    var long = crd.longitude

                    var result = distance(e.features[0].geometry.coordinates[1], e.features[0].geometry.coordinates[0], lat, long, "K");
                    
                    if (result < 0.07) {
                        new mapboxgl.Popup()
                        .setLngLat(e.features[0].geometry.coordinates)
                        .setHTML(e.features[0].properties.description)
                        .addTo(map);
        
                    } else {
        
                        new mapboxgl.Popup()
                        .setLngLat(e.features[0].geometry.coordinates)
                        .setHTML("Vous êtes trop loin, rapprochez vous pour acceder au défi!")
                        .addTo(map);
        
                    };
                });
            
                map.on('mouseenter', 'challenges', function () {
                    map.getCanvas().style.cursor = 'pointer';
                });
            
                map.on('mouseleave', 'challenges', function () {
                    map.getCanvas().style.cursor = '';
                });
          
            
            {% for user in users %}
            map.loadImage('{{user.pp.image.url}}', function(error, image) {
                if (error) throw error;
                map.addImage('{{user.username}}', image);
                
                {{user.username}} = '/user_position/?id_user={{user.id}}';
        
                window.setInterval(function() {
        
                    map.getSource('{{user.id}}').setData({{user.username}});
        
                }, 8000);
        
                map.addSource('{{user.id}}', { type: 'geojson', data: {{user.username}} });
                map.addLayer({
                                "id": "{{user.id}}",
                                "type": "symbol",
                                "source": '{{user.id}}',
                                "layout": {
                                    "icon-image": "{{user.username}}",
                                    "icon-size": 0.15,
                                    "icon-allow-overlap": true
                                }
                            });
        
                // When a click event occurs on a feature in the places layer, open a popup at the
                // location of the feature, with description HTML from its properties.
                map.on('click', '{{user.id}}', function (e) {
                    new mapboxgl.Popup()
                        .setLngLat(e.features[0].geometry.coordinates)
                        .setHTML(e.features[0].properties.description)
                        .addTo(map);
                });
        
                // Change the cursor to a pointer when the mouse is over the places layer.
                map.on('mouseenter', '{{user.id}}', function () {
                    map.getCanvas().style.cursor = 'pointer';
                });
        
                // Change it back to a pointer when it leaves.
                map.on('mouseleave', '{{user.id}}', function () {
                    map.getCanvas().style.cursor = '';
                });
            });
        
            {% endfor %}
            
                map.loadImage('{{utilisateur.pp.image.url}}', function(error, image) {
                
                if (error) throw error;
                map.addImage('utilisateur', image);
        
                utilisateur_position = '/user_position_me/?id_user={{utilisateur.id}}';
        
                window.setInterval(function() {
        
                    map.getSource('test').setData(utilisateur_position);
        
                }, 5000);
        
                map.addSource('test', { type: 'geojson', data: utilisateur_position });
                map.addLayer({
                                "id": "{{utilisateur.id}}",
                                "type": "symbol",
                                "source": "test" ,
                                "layout": {
                                    "icon-image": "utilisateur",
                                    "icon-size": 0.2,
                                    "icon-allow-overlap": true
                                }
                            });
        
                    // When a click event occurs on a feature in the places layer, open a popup at the
                    // location of the feature, with description HTML from its properties.
                    map.on('click', '{{user.id}}', function (e) {
                        new mapboxgl.Popup()
                            .setLngLat(e.features[0].geometry.coordinates)
                            .setHTML(e.features[0].properties.description)
                            .addTo(map);
                    });

                    // Change the cursor to a pointer when the mouse is over the places layer.
                    map.on('mouseenter', '{{user.id}}', function () {
                        map.getCanvas().style.cursor = 'pointer';
                    });

                    // Change it back to a pointer when it leaves.
                    map.on('mouseleave', '{{user.id}}', function () {
                        map.getCanvas().style.cursor = '';
                    });
                });  
            }); 
    };

    map(test);
    
    $('.nbre_notification').click(function () {
            $.ajax({
            url: '/compte/vue_notification/',
            });
            $("#notifications").load("/compte/vestiaire/ #notifications");
            $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
        });
        
        $('div.block_notification').click(function () {
            var id = $(this).attr('value');
            $.ajax({
            url: '/compte/active_notification/?notif_id='+id
            });
        });
</script>
{% endblock %}

{% endblock %}