{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

        <div class="content">
            <div class="container-fluid">

            {% if message != 'False' %}
                <div class="alert {{type_message}}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                    <span>{{message}}</span>
                </div>
            {% endif %}

            <img src="{% static 'image/Spinner.svg'%}" class= "image responsive center-block" />

             </div>
        </div>


{% block javascript %}
<script>

    var options = {
    enableHighAccuracy: true,
    timeout: 500,
    maximumAge: 0
    };


    function success(pos) {
    var crd = pos.coords;

    console.log('Your current position is:');
    console.log(`Latitude : ${crd.latitude}`);
    console.log(`Longitude: ${crd.longitude}`);
    console.log(`More or less ${crd.accuracy} meters.`);

    $.ajax({url: '/user_position_push/?id_user={{utilisateur.id}}&latitude='+crd.latitude+'&longitude='+crd.longitude,
    });

    };

    function error(err) {
    document.location.href="/compte/map_error";
    console.warn(`ERROR(${err.code}): ${err.message}`);
    };

    navigator.geolocation.getCurrentPosition(success, error, options);

    setTimeout(function(){document.location.href="/compte/map"; }, 2500);

    $('.nbre_notification').click(function () {
            $.ajax({
            url: '/compte/vue_notification/',
            });
            $("#notifications").load("/compte/vestiaire/ #notifications");
            $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
        });
        
        $('div.block_notification').click(function () {
            var id = $(this).attr('value');
            $.ajax({
            url: '/compte/active_notification/?notif_id='+id
            });
        });
</script>
{% endblock %}

{% endblock %}