{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

        <div class="content">
            <div class="container-fluid">

            {% if message != 'False' %}
                <div class="alert {{type_message}}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                    <span>{{message}}</span>
                </div>
            {% endif %}

            <img src="{% static 'image/Spinner.svg'%}" class= "image responsive center-block" />

             </div>
        </div>


{% block javascript %}
<script>


    position = {};
    
    var options = {
        enableHighAccuracy: true,
        timeout: 1000,
        maximumAge: 0
        };
    
    
    function success(pos) {
        crd = pos.coords;
        position['latitude']= crd.latitude;
        position['longitude']= crd.longitude;
        $.ajax({url: '/user_position_push/?id_user={{utilisateur.id}}&latitude='+crd.latitude+'&longitude='+crd.longitude,
                });

        document.location.href="/compte/map";

        };

    function error(err) {
    document.location.href="/compte/map_error";
    console.warn(`ERROR(${err.code}): ${err.message}`);
    };

    navigator.geolocation.getCurrentPosition(success, error, options);

    $('.nbre_notification').click(function () {
            $.ajax({
            url: '/compte/vue_notification/',
            });
            $("#notifications").load("/compte/vestiaire/ #notifications");
            $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
        });
        
        $('div.block_notification').click(function () {
            var id = $(this).attr('value');
            $.ajax({
            url: '/compte/active_notification/?notif_id='+id
            });
        });
</script>
{% endblock %}

{% endblock %}