{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    {% if message != 'False' %}
                        <div class="alert {{type_message}}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                            <span>{{message}}</span>
                        </div>
                    {% endif %}
                    
                    <div class="col-md-12" style="margin-bottom : 2%">
                        <a href="/compte/demande_ami/page" type="button" class="btn btn-primary">Vous avez {{nb_demandes}} demande en attente de validation</a>
                    </div>

                    {% for ami in amis %}
                    <div class="col-sm-3">
                        <div class="card card-user">
                            <div class="image">
                                <img src="{{ami.pa.image.url}}" alt="Photo de profil de {{ami.username}}"/>
                            </div>
                            <div class="content">
                                <div class="author">
                                  <img class="avatar border-white"  src="{{ami.pp.image.url}}" alt="Photo de profil de {{ami.username}}"/>
                                  <a href="/compte/profil_public/?profil={{ami.id}}"><h4 class="title">{{ami.first_name|title }} {{ami.last_name|title }}<br />
                                     <small>@{{ami.username}}</small></a>
                                  </h4>
                                </div>
                                <p class="description text-center">
                                    {{ami.info}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    {% block javascript %}
    <script>
        $('.nbre_notification').click(function () {
                $.ajax({
                url: '/compte/vue_notification/',
                });
                $("#notifications").load("/compte/vestiaire/ #notifications");
                $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
            });
            
            $('div.block_notification').click(function () {
                var id = $(this).attr('value');
                $.ajax({
                url: '/compte/active_notification/?notif_id='+id
                });
                alert(url);
            });
    </script>
    {% endblock %}
{% endblock %}