{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Notifications</h4>
                            <hr>
                        </div>
                        <div class="content">
                            <div class="row">
                            {% for notif in notification %}
                                <div class="notif" style="display:none;">
                                <a href="{{notif.lien}}">
                                <div class="col-md-12" style="margin-top : -5px;">                                               
                                    <h7>{{notif.message|title}}</br><small>({{notif.date}})</small><h7>
                                    </br><h6 class="card-subtitle mb-2 text-muted"> par : {{notif.auteur.username|title}}</h6>
                                                                                                  
                                <hr>
                                </div>
                                </a>
                                </div>
                            {% endfor %}
                            </div>
                            <div class="footer">
                                <a class="btn btn-default btn-block" href="#" id="loadnotif">Voir plus de Notification</a>
                                <hr>
                                <div class="stats">
                                    <i class="ti-reload"></i> Mise à jour : <script>document.write(new Date())</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block javascript %}
<script>
    $(function(){
        $("div.notif").slice(0, 10).show(); // select the first ten
        $("#loadnotif").click(function(e){ // click event for load more
            e.preventDefault();
            $(".notif:hidden").slice(0, 10).show(); // select next 10 hidden divs and show them
            if($(".notif:hidden").length == 0){ // check if any hidden divs still exist
                alert("Vous n'avez pas plus de notifications"); // alert if there are none left
            }
        });
    });
    $('.nbre_notification').click(function () {
        $.ajax({
        url: '/compte/vue_notification/',
        });
        $("#notifications").load("/compte/vestiaire/ #notifications");
        $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
    });
    
    $('div.block_notification').click(function () {
        var id = $(this).attr('value');
        $.ajax({
        url: '/compte/active_notification/?notif_id='+id
        });
        alert(url);
    });
    
</script>
{% endblock %}
{% endblock %}