{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

        <div class="content">
            <div class="container-fluid">

            {% if message != 'False' %}
                <div class="alert {{type_message}}">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                    <span>{{message}}</span>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-12">

                    <div class="col-md-4">
                        <div class="card">
                            <a href="/compte/parametre/changement_mdp">
                            <div class="content">
                                <h5>Changer de mot de passe</h5>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="content">
                                <h5>Changer d'adresse mail</h5>
                            </div>
                        </div>
                    </div>

                </div>
             </div>
            </div>
        </div>


{% block javascript %}
<script>
    $('.nbre_notification').click(function () {
            $.ajax({
            url: '/compte/vue_notification/',
            });
            $("#notifications").load("/compte/vestiaire/ #notifications");
        });
        
        $('div.block_notification').click(function () {
            var id = $(this).attr('value');
            $.ajax({
            url: '/compte/active_notification/?notif_id='+id
            });
        });
</script>
{% endblock %}

{% endblock %}