{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

<style>

    {% for theme in categories %}

        .{{theme.nom}}:hover { 
            background-color: {{theme.couleur}};
        }

        .{{theme.nom}}.active{ 
            background-color: {{theme.couleur}};
            color : white;
        }

    {% endfor %}

    {% for theme in categories %}

        .{{theme.nom|upper}} { 
            background-color: {{theme.couleur}};
            color : white;
        } 
        
        .{{theme.nom|upper}}:hover { 
            background-color: white;
            color : {{theme.couleur}}
        } 
       .{{theme.nom|upper}}.active { 
            background-color: white;
            color : {{theme.couleur}};
            
        }

    {% endfor %}
</style>

{% include "CC/naviguation.html" %}

    <div class="content">
    <div class="container-fluid">

        {% if message != 'False' %}
            <div class="alert {{type_message}}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">×</button>
                <span>{{message}}</span>
            </div>
        {% endif %}
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="header">
                                <h1 class="title">Catégories</h1>
                                <p class="category">Cliquez sur une catégorie pour faire disparaitre les défis de cette catégorie</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="header">
                            <a type"button" href="/compte/proposition_defi" class="btn btn-primary btn-block" >Prop. un défi</a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12" style="margin-right : 20px;">
                                    {% for categorie in categories %}                                  
                                        <button type="button" class="{{categorie.nom|upper}} btn btn-lg categorie" style="border-color : {{categorie.couleur}}; border-width: 1.2px; margin-bottom : 2%;">{{categorie}}</button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="col-md-12">
            <div class="card">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="header">
                                    <h3 class="title">Les Défis <small>Affichage :</small>
                                        
                                        <!-- Nav tabs -->
                                        <a  href="#button" aria-controls="button" role="tab" data-toggle="tab"><img style="max-height: 15px;" src="{% static 'image/icone/cube.png' %}"></a>
                                        <a  href="#tableau" aria-controls="tableau" role="tab" data-toggle="tab"><img style="max-height: 15px;"  src="{% static 'image/icone/tab.png' %}"></a>
                                        
                                    </h3>
                                    <p class="category">Cliquez sur un défi pour defier vos challengeurs</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="header">
                                    <form class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <div class="input-group-addon"><img style=" max-width : 45%" src="{% static 'image/icone/loupe.png' %}"></div>
                                        <input type="text" class="form-control search" placeholder="Rechercher un défi">
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="container-fluid">
                                <div class="row">
                                        <div>
                                                
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="button"><div class="demo"></div></div>
                                    <div role="tabpanel" class="tab-pane" id="tableau"><div class="tableau"></div></div>
                                    </div>
                                
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
            

                                
        
    </div>
{% block javascript %}
<script>

    $(function() {

        var list = [ {% for libelle in libelles %} { nom : "{{libelle.nom}}", description : "{{libelle.description}}",  id : "{{libelle.id}}", theme : "{{libelle.theme.nom}}", soustheme : "{{libelle.sous_theme.nom}}", couleur : "{{libelle.theme.couleur}}", niveau : "{{libelle.recompense.points}}"}, {% endfor %} ];
        
        var options = {
            shouldSort: true,
            threshold: 0.1,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: [
                "nom",
                "theme",
                "soustheme",
                "couleur",
                "niveau",
                "description",
            ]
            };
            
            var fuse = new Fuse(list, options); // "list" is the item array
            var result = fuse.search(" ");
            var x;

            var html = "";
            var htmltab = '<table class="table table-hover"><thead><th>Description</th><th>Categorie</th><th>Points</th></thead> ';

            for (x in result) {
                var decoration = result[x].niveau
                html += '<a href="/arene/defi_page/?id_defi='+result[x].id+'"><button style=" margin : 2px; border-color : '+result[x].couleur+'; border-width: 1px;" class="btn btn-secondary btn-default '+ result[x].soustheme+' '+result[x].theme+'"> <span class="badge"> '+ result[x].niveau +' pts</span> <strong>'+ result[x].description.substring(0,25) +'</strong>  <hr style="margin-top : 0px; margin-bottom : 0px;"> <p style="text-align : right; margin-bottom : 1px;"><small>'+ result[x].theme +'</small></p></button></a>';
                htmltab += '<tr style = "color : '+result[x].couleur+';"><td><a href="/arene/defi_page/?id_defi='+result[x].id+'">'+result[x].description+'</a></td><td>'+result[x].theme+'</td><td>'+result[x].niveau+'</td></tr>';
            }

            htmltab +='</table>';

            $("div.demo").html(html);
            $("div.tableau").html(htmltab);

        $("button.categorie").click(function(){
            var categorie = $(this).text();
            $(this).button('toggle');
            
            if ($("button." + categorie).is(":visible")){
            $("button." + categorie).hide();
            $("button." + categorie).removeClass('active');
            
            } else {
            $("button." + categorie).show();
            };
                
        });
        
        
        $("button.sous_categorie").click(function(){
            var sous_categorie = $(this).text();
            $(this).button('toggle');
            
            if ($("button." + sous_categorie).is(":visible")){
            $("button." + sous_categorie).hide();
            
            } else {
            $("button." + sous_categorie).show();
            };
                
        });

        $('input.search').keyup(function(){
            
            var search = $(this).val();
            
            var options = {
            shouldSort: true,
            threshold: 0.4,
            location: 0,
            distance: 100,
            maxPatternLength: 32,
            minMatchCharLength: 1,
            keys: [
                "nom",
                "theme",
                "soustheme",
                "couleur",
                "niveau",
                "description",
            ]
            };
            
            var fuse = new Fuse(list, options); // "list" is the item array
            var result = fuse.search(search);

            if (search == ""){result = list};

            var x;
            
            var html = "";
            var htmltab = '<table class="table table-hover"><thead><th>Description</th><th>Categorie</th><th>Points</th></thead> ';
                

            for (x in result) {
                
                html += '<div class="col-md-4 col-sm-6 col-xs-12"><a href="/arene/defi_page/?id_defi='+result[x].id+'"><button style=" margin : 2px; border-color : '+result[x].couleur+'; border-width: 1px;" class="btn btn-secondary btn-default '+ result[x].soustheme+' '+result[x].theme+'"> <span class="badge"> '+ result[x].niveau +' pts</span> <strong>'+ result[x].description.substring(0,25) +'</strong>  <hr style="margin-top : 0px; margin-bottom : 0px;"> <p style="text-align : right; margin-bottom : 1px;"><small>'+ result[x].theme +'</small></p></button></a></div>';
                htmltab += '<tr style = "color : '+result[x].couleur+';"><td><a href="/arene/defi_page/?id_defi='+result[x].id+'">'+result[x].description+'</a></td><td>'+result[x].theme+'</td><td>'+result[x].niveau+'</td></tr>';
                }

                htmltab +='</table>';
                
                $("div.demo").html(html);
                $("div.tableau").html(htmltab);

            });
            
    });

    $('.nbre_notification').click(function () {
        $.ajax({
        url: '/compte/vue_notification/',
        });
        $("#notifications").load("/compte/vestiaire/ #notifications");
        $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
    });
    
    $('div.block_notification').click(function () {
        var id = $(this).attr('value');
        $.ajax({
        url: '/compte/active_notification/?notif_id='+id
        });
        alert(url);
    });

    </script>	
{% endblock %}
{% endblock %}