{% extends "CC/base.html" %}
{% block content %}
{% load staticfiles %}

{% include "CC/naviguation.html" %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card">
                        <div style="text-align : center;">
                            <div class="row">
                                <div class="col-xs-1" >
                                </div>
                                <div class="col-xs-4"  style=" margin-top : 35px;">
                                    <img class="img-responsive img-circle center-block" src="{{defi.defieur.pp.image.url}}" style="max-height : 150px;">
                                    <h3>{{defi.defieur.first_name|title}} {{defi.defieur.last_name|title}}</h3>
                                </div>
                                <div class="col-xs-2"  style=" margin-top : 65px;">
                                    <h2>VS</h2>
                                </div>
                                <div class="col-xs-4"  style=" margin-top : 35px;">
                                    <img class="img-responsive img-circle center-block" src="{{defi.challengeur.pp.image.url}}" style="max-height : 150px;">
                                    <h3>{{defi.challengeur.first_name|title}} {{defi.challengeur.last_name|title}}</h3>
                                </div>
                                <div class="col-xs-1" >
                                </div>
                            </div>
                            <hr>
                        </div>

                        <div class="content">
                            <div class="card">
                                    <div class="header">
                                        <h4 class="title">{{defi.libelle.nom}} <small>({{defi.libelle.theme.nom}})</h4>
                                        <p class="category">Envoyé le : {{defi.date_envoie}}</p>
                                    </div>
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-12"> 
                                                <h3 style="text-align : center">"{{defi.libelle.description}}"</h3>
                                                {% if defi.enjeu_perso != "Sans Enjeu" %}
                                                <h4 style="text-align : center"><i class="ti-bolt" style="color : #E65100;"></i>Le défi se pimente, {{defi.defieur.first_name|title}} {{defi.defieur.last_name}}   met en jeu : {{defi.enjeu_perso}}</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-12"> 

                                                {% if visiteur == True %}

                                                    {% if defi.etat == "E" %}
                                                    <div class="col-md-12">
                                                        <div class="row" style="text-align : center;">
                                                            <h3 id="afficherheure"></h3>
                                                            <small> restant à {{defi.challengeur.first_name|title}} {{defi.challengeur.last_name|title}} pour accepter le défi!</small>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "A" %}
                                                    <div class="col-md-12">
                                                        <div class="row" style="text-align : center;">
                                                            <h3 id="afficherheure"></h3>
                                                            <small> restant à {{defi.challengeur.first_name|title}} {{defi.challengeur.last_name|title}} pour réaliser le défi!</small>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "AV" %}
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12" style="text-align : center;">
                                                                <h4> Le défi est en attente de validation par {{defi.defieur.first_name|title}} {{defi.defieur.last_name|title}} </h4>
                                                            </div>
                                                            
                                                            {% for preuve in photos %}
                                                            <div class="col-md-4">
                                                                <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                            </div>

                                                                <div id="myModal" class="modal">
                                                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                                <img class="modal-content" id="img01">
                                                                <div id="caption"></div>
                                                                </div>
                                                            
                                                            {% endfor %}
                                                            
                                                            {% for preuve in videos %}
                                                            <div class="col-md-4" >
                                                                <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                                    <video controls>
                                                                        <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                                    </video>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                           
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "EX" %}
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <h3> Le défi à expiré </h3>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "R" %}
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <h3 style="text-align : center;"> {{defi.challengeur.first_name|title}} {{defi.challengeur.last_name|title}} a refusé le défi. </h3>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "V" %}
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <h3 > Le défi a été validé ! Bravo {{defi.challengeur.first_name|title}} {{defi.challengeur.last_name|title}} </h3>
                                                    <hr>
                                                        <h4>Voici les preuves</h4>

                                                    {% for preuve in photos %}
                                                    <div class="col-md-4">
                                                        <button type="button" class="btn" data-toggle="modal" data-target="#{{preuve.id}}" data-whatever="@mdo"><img alt="{{preuve.nom}}" src="{{preuve.fichier.url}}" class="img-responsive"/></button>
                                                    </div>
                                                    {% endfor %}
                                                    {% for preuve in videos %}
                                                    <div class="col-md-4">
                                                        <button type="button" class="btn" data-toggle="modal" data-target="#{{preuve.id}}" data-whatever="@mdo">
                                                            <video width="320" height="240">
                                                                <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                            </video>
                                                        </button>
                                                    </div>
                                                    {% endfor %}
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "C" %}
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <h3> {{defi.defieur.first_name|title}} {{defi.defieur.last_name|title}} a contesté le défi. </h3>
                                                        <hr>
                                                        <h4>Voici pourquoi</h4>
                                                        <p>{{defi.contestation.contenu}}</p>

                                                        <hr>
                                                        <h4>Voici les preuves</h4>

                                                        {% for preuve in photos %}
                                                            <div class="col-md-4">
                                                            <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                            </div>

                                                            <div id="myModal" class="modal">
                                                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                            <img class="modal-content" id="img01">
                                                            <div id="caption"></div>
                                                            </div>
                                                        {% endfor %}

                                                        {% for preuve in videos %}
                                                            <div class="col-md-4" >
                                                            <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                            <video controls>
                                                                <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                            </video>
                                                            </div>
                                                            </div>
                                                        {% endfor %}

                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "S" %}
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <h3> La contestation a été signalée comme abusive. </h3>
                                                    </div>
                                                    {% endif %}

                                                {% endif %}

                                                {% if visiteur == False %}
                                                
                                                {% if defi.defieur.id == utilisateur.id %}
                                                    {% if defi.etat == "E" %}
                                                        <div class="col-md-12">
                                                            <div class="row" style="text-align : center;">
                                                                <h3 id="afficherheure"></h3>
                                                                <small> restant à {{defi.challengeur.first_name|title}} {{defi.challengeur.last_name|title}} pour accepter le défi!</small>
                                                            </div>
                                                        </div>
                                                        {% endif %}

                                                    {% if defi.etat == "A" %}
                                                    <div class="col-md-12">
                                                        <div class="row" style="text-align : center;">
                                                            <h3 id="afficherheure"></h3>
                                                            <small> restant à {{defi.challengeur.first_name|title}} {{defi.challengeur.last_name|title}} pour réaliser le défi!</small>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "AV" %}
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12" style="text-align : center;">
                                                                <h4> Le défi à été réalisé, veuillez valider les preuves soumises! </h4>
                                                            </div>
                                                            
                                                            {% for preuve in photos %}
                                                            <div class="col-md-4">
                                                                <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                            </div>

                                                                <div id="myModal" class="modal">
                                                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                                <img class="modal-content" id="img01">
                                                                <div id="caption"></div>
                                                                </div>
                                                            
                                                            {% endfor %}
                                                            
                                                            {% for preuve in videos %}
                                                            <div class="col-md-4" >
                                                                <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                                    <video controls>
                                                                        <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                                    </video>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            
                                                            <div class="col-md-12" style="margin-top : 1%;">
                                                                <div class="col-md-6">
                                                                    <a class="btn btn-primary btn-block" href="/arene/defi_valide/?id_defi={{defi.id}}" >
                                                                        Valider le défi
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <a class="btn btn-danger btn-block" data-toggle="collapse" href="#contester" aria-expanded="false" aria-controls="contester">
                                                                        Contester
                                                                    </a>
                                                                </div>

                                                                <div class="collapse" id="contester" style="margin-top : 1%;">
                                                                        <form method="post" action="/arene/defi_contestation">
                                                                            {% csrf_token %}
                                                                            <div class="form-group">
                                                                                <input id="defi" name="defi" value="{{defi.id}}" hidden>
                                                                                <label for="preuves">Attention si vous contestez sans motif ligitime vous pouvez voir votre compte suspendu et vos avantages perdus.</label>
                                                                                
                                                                                <div class="col-10">
                                                                                    <input class="form-control" type="text" name="motif" id="motif" placeholder="Ecrire le motif ici">
                                                                                </div>
                                                                            </div>
                                                                            <button type="submit" class="btn btn-danger">Contester</button>
                                                                        </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "EX" %}
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <h3> Le défi à expiré </h3>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "R" %}
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <h3 style="text-align : center;"> {{defi.challengeur.first_name|title}} {{defi.challengeur.last_name|title}} a refusé le défi. </h3>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "V" %}
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <h3 > Vous avez validé le défi. </h3>
                                                    <hr>
                                                        <h4>Voici les preuves</h4>
                                                            {% for preuve in photos %}
                                                            <div class="col-md-4">
                                                                <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                            </div>

                                                                <div id="myModal" class="modal">
                                                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                                <img class="modal-content" id="img01">
                                                                <div id="caption"></div>
                                                                </div> 
                                                            
                                                            {% endfor %}
                                                            
                                                            {% for preuve in videos %}
                                                            <div class="col-md-4" >
                                                                <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                                    <video controls>
                                                                        <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                                    </video>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "C" %}
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <h3> Vous avez contesté le défi. </h3>
                                                        <hr>
                                                        <h4>Voici pourquoi</h4>
                                                        <p>{{defi.contestation.contenu}}</p>

                                                        <hr>
                                                        <h4>Voici les preuves</h4>
                                                            {% for preuve in photos %}
                                                            <div class="col-md-4">
                                                                <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                            </div>

                                                                <div id="myModal" class="modal">
                                                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                                <img class="modal-content" id="img01">
                                                                <div id="caption"></div>
                                                                </div>
                                                            
                                                            {% endfor %}
                                                            
                                                            {% for preuve in videos %}
                                                            <div class="col-md-4" >
                                                                <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                                    <video controls>
                                                                        <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                                    </video>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "S" %}
                                                    <div class="col-md-12" style="text-align: center;">
                                                        <h3> La contestation a été signalée comme abusive. </h3>
                                                    </div>
                                                    {% endif %}

                                                {% else %}

                                                    {% if defi.etat == "E" %}
                                                    <div class="col-md-12">
                                                        <div class="row" style="text-align : center;">
                                                            <div class="col-md-7">
                                                                <h3 id="afficherheure"></h3> 
                                                                <small>restant pour accepter le défi!</small>
                                                            </div>
                                                            <div class="col-md-5" style="padding : 2%">
                                                                <a href="/arene/defi_accepte/?id_defi={{defi.id}}" class="btn btn-primary btn-block">Accepter</a>
                                                                <a href="/arene/defi_refuse/?id_defi={{defi.id}}" class="btn btn-danger btn-block">Refuser</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "V" %}
                                                    <div class="col-md-12">
                                                        <div cclass="row" style="text-align : center;">
                                                            <div class="col-md-12" style="text-align : center">
                                                            <h3>Vous avez réussi votre défi. Bravo!</h3>
                                                            <a href="/arene/defi_user_cible/?id_user={{defi.defieur.id}}" type="button" class="btn btn-primary btn-xl">Défier @{{defi.defieur.username}} en retour</a>
                                                            <hr>
                                                        </div>
                                                    
                                                    <h4>Voici les preuves</h4>
                                                        {% for preuve in photos %}
                                                        <div class="col-md-4">
                                                            <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                        </div>

                                                            <div id="myModal" class="modal">
                                                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                            <img class="modal-content" id="img01">
                                                            <div id="caption"></div>
                                                            </div>
                                                        
                                                        {% endfor %}
                                                        
                                                        {% for preuve in videos %}
                                                        <div class="col-md-4" >
                                                            <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                                <video controls>
                                                                    <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                                </video>
                                                            </div>
                                                        </div>
                                                        {% endfor %}

                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "C" %}
                                                    <div class="col-md-12">
                                                        <div class="row" style="text-align : center;">
                                                            <div class="col-md-7">
                                                            <h3>Votre défi à été contesté!</h3>
                                                            <h4>Voici pourquoi</h4>
                                                            <p>{{defi.contestation.contenu}}</p>
                                                            </div>

                                                            <div class="col-md-5" style="padding : 2%">
                                                                <a class="btn btn-danger" data-toggle="collapse" href="#signaler" aria-expanded="false" aria-controls="signaler">
                                                                    Signaler un abus de contestation
                                                                </a>
                                                            </div>
                                                                <div class="col-md-12">
                                                                <div class="collapse" id="signaler">
                                                                    <hr>
                                                                    <div class="card card-block">
                                                                        <form method="post" action="/arene/defi_signalement">
                                                                            {% csrf_token %}
                                                                            <div class="form-group">
                                                                                <input id="defi" name="defi" value="{{defi.id}}" hidden>
                                                                                <label for="preuves">Attention si vous signaler sans motif ligitime vous pouvez voir votre compte suspendu et vos avantages perdus.</label>
                                                                                
                                                                                <div class="col-10">
                                                                                    <input class="form-control" type="text" name="motif" id="motif" placeholder="Ecrire le motif ici">
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-10">
                                                                            <button type="submit" class="btn btn-default">Signaler</button>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <hr>
                                                        </div>
                                                        <h4>Voici les preuves</h4>

                                                        {% for preuve in photos %}
                                                        <div class="col-md-4">
                                                            <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                        </div>

                                                            <div id="myModal" class="modal">
                                                            <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                            <img class="modal-content" id="img01">
                                                            <div id="caption"></div>
                                                            </div>
                                                        
                                                        {% endfor %}
                                                        
                                                        {% for preuve in videos %}
                                                        <div class="col-md-4" >
                                                            <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                                <video controls>
                                                                    <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                                </video>
                                                            </div>
                                                        </div>
                                                        {% endfor %}

                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "A" %}
                                                    <div class="col-md-12">
                                                        <div class="row" style="text-align : center;">
                                                            <div class="col-md-7">
                                                                <h3 id="afficherheure"></h3>
                                                                </small>restant pour réaliser le défi !</small>
                                                            </div>
                                                            <div class="col-md-5" style="padding : 2%">
                                                                <p>
                                                                    <a class="btn btn-primary" data-toggle="collapse" href="#preuvearea" aria-expanded="false" aria-controls="preuvearea">
                                                                        J'ai réalisé le défi!
                                                                    </a>
                                                                </p>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="collapse" id="preuvearea">
                                                                    
                                                                    <div class="card">
                                                                        <div class="header">
                                                                            <h4 class="title" style="text-align : left;">Photos, Vidéos, Screenshots ...</h4>
                                                                        </div>
                                                                        <div class="content">
                                                                            <div class="row">
                                                                                <div class="col-md-12" style="text-align : left;">      
                                                                                    <form method="post" action="/arene/defi_preuve" enctype="multipart/form-data">
                                                                                        {% csrf_token %}
                                                                                        <div class="form-group">
                                                                                            <input id="defi" name="defi" value="{{defi.id}}" hidden>
                                                                                            <input type="file" class="form-control-file" id="preuves" name="preuves" aria-describedby="fileHelp" multiple>
                                                                                            <small id="fileHelp" class="form-text text-muted">Chargez ici vos preuves pour valider votre défi!</small>
                                                                                        </div>
                                                                                        <button type="submit" class="btn btn-default">Envoyer mes preuves</button>
                                                                                    </form>    
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "AV" %}
                                                    <div class="col-md-12">
                                                        <div class="row" style="text-align : center;">
                                                            <div class="col-md-12">
                                                                <h3>{{defi.defieur|title}} va bientôt valider (ou pas si vous avez triché) votre défi.</br> 
                                                                <small>Il lui reste : <h3 id="afficherheure"></h3></small></h3>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        
                                                        <h4 style="text-align : center;">Voici les preuves</h4>

                                                            {% for preuve in photos %}
                                                            <div class="col-md-4">
                                                                <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                            </div>

                                                                <div id="myModal" class="modal">
                                                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                                <img class="modal-content" id="img01">
                                                                <div id="caption"></div>
                                                                </div>
                                                            
                                                            {% endfor %}
                                                            
                                                            {% for preuve in videos %}
                                                            <div class="col-md-4" >
                                                                <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                                    <video controls>
                                                                        <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                                    </video>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                    
                                                    </div>
                                                    {% endif %}

                                                    {% if defi.etat == "R" %}
                                                        <div class="col-md-12" style="text-align: center;">
                                                            <h3> Vous avez refusé le défi. </h3>
                                                        </div>
                                                    {% endif %}

                                                    {% if defi.etat == "S" %}
                                                        <div class="col-md-12" style="text-align: center;">
                                                            <h3> Vous avez signalé la contestation comme abusive. </h3>

                                                            <hr>
                                                        <h4>Voici les preuves</h4>

                                                            {% for preuve in photos %}

                                                            <div class="col-md-4">
                                                                <img id="{{preuve.nom}}{{preuve.id}}"  src="{{preuve.fichier.url}}" style="margin : 3%" class="img-responsive">
                                                            </div>

                                                                <div id="myModal" class="modal">
                                                                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                                                                <img class="modal-content" id="img01">
                                                                <div id="caption"></div>
                                                                </div>
                                                            
                                                            {% endfor %}
                                                            
                                                            {% for preuve in videos %}
                                                            <div class="col-md-4" >
                                                                <div class="embed-responsive embed-responsive-16by9" style="margin : 3%;">
                                                                    <video controls>
                                                                        <source src="{{preuve.fichier.url}}" type="video/mp4">
                                                                    </video>
                                                                </div>
                                                            </div>
                                                            {% endfor %}

                                                        </div>
                                                    {% endif %}

                                                    {% if defi.etat == "EX" %}
                                                        <div class="col-md-12" style="text-align: center;">
                                                            <h3> Le défi a expiré </h3>
                                                        </div>
                                                    {% endif %}

                                                {% endif %} 
                                                {% endif %}                                                             
                                        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {% block javascript %}

        <script>
            $(function($){
                var date_butoire = new Date({{date_butoire.year}},({{date_butoire.month}}-1), {{date_butoire.day}}, {{date_butoire.hour}},{{date_butoire.minute}},{{date_butoire.second}});
                
                setDate();

                function setDate(){

                    var now = new Date();

                    var s = (date_butoire.getTime() - now.getTime())/1000;
                    
                    var d = Math.floor(s/86400);
                    s -= d*86400;

                    var h = Math.floor(s/3600);
                    s -= h*3600;

                    var m = Math.floor(s/60);
                    s -= m*60;

                    s = Math.floor(s);

                    document.getElementById("afficherheure").innerHTML = d + "J " + h + "H "+ m + "M  "+s+ "s";
                    
                    setTimeout(setDate,500);
                }
            });
            $('.nbre_notification').click(function () {
                $.ajax({
                url: '/compte/vue_notification/',
                });
                $("#notifications").load("/compte/vestiaire/ #notifications");
                $("#notificationspetit").load("/compte/vestiaire/ #notificationspetit");
            });
            
            $('div.block_notification').click(function () {
                var id = $(this).attr('value');
                $.ajax({
                url: '/compte/active_notification/?notif_id='+id
                });
                alert(url);
            });

            {% for preuve in photos %}
               
            // Get the modal
            var modal = document.getElementById('myModal');

            // Get the image and insert it inside the modal - use its "alt" text as a caption
            var img = document.getElementById('{{preuve.nom}}{{preuve.id}}');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() { 
            modal.style.display = "none";
            }

            {% endfor %}

        </script>

    {% endblock %}

{% endblock %}